<div class="row pad-top-lg">
    <div class="col-sm-12">
        <h2>File Manager</h2>
    </div>
</div>
<div data-ng-include src="'/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/partials/file-manager-partial.html'"></div>

