<link rel="stylesheet" type="text/css" href="/vendor/neopangea/f3-mod-cms-files/public/vendor/dropzone/dropzone.css" />

<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/vendor/blazy/blazy.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/vendor/dropzone/dropzone.js"></script>

<!-- FILE MANAGER -->
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/apps/files-app.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/services/files-services.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/controllers/file-manager-controller.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/configs/files-routes.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/directives/file-uploader-directive.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/directives/file-manager-modal-directive.js"></script>

<!-- FILE SYNC -->
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-sync/apps/file-sync-app.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-sync/configs/file-sync-routes.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-sync/controllers/file-sync-controller.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-sync/services/file-sync-services.js"></script>
