<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-file"></span> Files<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li class=""><a href="/mm/files">File Manager</a></li>
        <li class=""><a href="/mm/files/sync">File Sync</a></li>
    </ul>
</li>