<div class="input-group">
    <input
        type="text"
        class="form-control file-manager-input"
        placeholder="File Path"/>
    <div class="input-group-btn">
        <a href="#" target="_blank" class="file-manager-preview btn btn-default" role="button">
            <span class="glyphicons eye_open icon-md">&nbsp;</span>
        </a>
        <button
                type="button"
                class="btn btn-default file-manager-open-modal">
            <span class="glyphicons show_lines icon-md">&nbsp;</span>
        </button>
    </div>
</div>

<!-- FILE MANAGER MODAL -->

<div class="file-manager-modal modal fade full-screen" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-label">File Manager</h4>
            </div>
            <div ng-init="doNotInitFileManager = true;">
                <div class="modal-body" data-ng-controller="fileManagerController">
                    <div data-ng-include src="'/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/partials/file-manager-partial.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>