<style>
    .dz-message {
        color: #777;
        font-size: 27px;
        padding: 10px;
    }

    .alert h4 {
        font-size: 20px;
    }
    .alert ul {
        margin-top: 10px;
        margin-left: 15px;
    }
    .alert ul li{
        line-height: 20px;
    }
</style>

<div ng-show="uploadErrors.length" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4>Oh no! Upload Errors</h4>
    <ul>
        <li data-ng-repeat="error in uploadErrors"><strong>{{error.fileName}}</strong> {{error.msg}}</li>
    </ul>
</div>

<form action="" id="file-dropzone" class="dropzone text-center pad-bottom-md" data-neo-file-uploader="">
</form>

<div id="previews" class="dropzone-previews hide">
    <-- Hide the default dropzone previewer and use the uploaded table below -->
</div>

<div class="row" >
    <div class="col-sm-12">

        <div ng-show="!files.uploaded.length" class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert"><strong>Bummer!</strong> It looks like you have not uploaded any files this session :-(</div>
            </div>
        </div>

        <table ng-show="files.uploaded.length" class="table table-striped">
            <thead>
            <tr>
                <th data-ng-repeat="header in ui.sort.headers" data-ng-click="ui.sort.set(header.field)" class="sortable">
                    <span class="pull-left pad-right-sm">{{header.label}}</span>
            <span data-ng-show="ui.sort.field == header.field">
                <span data-ng-show="ui.sort.isDescending == true">
                     <span class="glyphicons sort-by-order icon-blue icon-sm"></span>
                </span>
                <span data-ng-show="ui.sort.isDescending == false">
                     <span class="glyphicons sort-by-order-alt icon-blue icon-sm"></span>
                </span>
            </span>
            <span data-ng-show="ui.sort.field != header.field">
                <span class="glyphicons icon-sm"><!-- PAD FOR CONSISTENCY --></span>
            </span>
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="file in files.uploaded | orderBy:ui.sort.field:ui.sort.isDescending">
                <td>
                    <span data-ng-switch on="file.type">
                        <span data-ng-switch-when="image">
                            <img class="b-lazy thumb-md" data-lazy-src="{{file.url}}" src="/vendor/neopangea/f3-mod-cms/public/images/loader-30x30.gif" />
                        </span>
                        <span data-ng-switch-when="audio">
                            <span class="glyphicons music icon-blue"></span>
                        </span>
                        <span data-ng-switch-when="video">
                            <span class="glyphicons film icon-purple"></span>
                        </span>
                        <span data-ng-switch-when="document">
                            <span class="glyphicons notes icon-red"></span>
                        </span>
                        <span ng-switch-default>
                            <div class="glyphicons pizza icon-orange"></div>
                        </span>
                    </span>
                </td>
                <td>{{file.updated_at * 1000 | date:'MM-dd-yyyy'}}</td>
                <td>{{file.name}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-ng-click="chooseFile(file.url)" data-dismiss="modal"><span class="glyphicons white ok_2 icon-sm"></span> Choose</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>