<ng-switch on="state.current">
    <div ng-switch-when="fetching">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert"><strong>Fetching!</strong> Please be patient while we fetch your files.</div>
        </div>
    </div>
    <div ng-switch-default>
        <div ng-show="!files.current.length" class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert"><strong>Bummer!</strong> We could not find any {{ui.file_type_filter.current}} files :( Upload some by clicking <span class="glyphicons upload icon-xs icon-dark-blue icon-inline"></span> above.</div>
            </div>
        </div>
        <table ng-show="files.current.length" class="table table-striped" data-lazy-loader="">
            <thead>
            <tr>
                <th data-ng-repeat="header in ui.sort.headers" data-ng-click="ui.sort.set(header.field)" class="sortable">
                    <span class="pull-left pad-right-sm">{{header.label}}</span>
            <span data-ng-show="ui.sort.field == header.field">
                <span data-ng-show="ui.sort.isDescending == true">
                     <span class="glyphicons sort-by-order icon-blue icon-sm"></span>
                </span>
                <span data-ng-show="ui.sort.isDescending == false">
                     <span class="glyphicons sort-by-order-alt icon-blue icon-sm"></span>
                </span>
            </span>
            <span data-ng-show="ui.sort.field != header.field">
                <span class="glyphicons icon-sm"><!-- PAD FOR CONSISTENCY --></span>
            </span>
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="file in files.current | filter:searchText | orderBy:ui.sort.field:ui.sort.isDescending">
                <td>
            <span data-ng-switch on="file.type">
                <span data-ng-switch-when="image">
                    <img class="b-lazy thumb-md" data-lazy-src="{{file.url}}" src="/vendor/neopangea/f3-mod-cms/public/images/loader-30x30.gif" />
                </span>
                <span data-ng-switch-when="audio">
                    <span class="glyphicons music icon-blue"></span>
                </span>
                <span data-ng-switch-when="video">
                    <span class="glyphicons film icon-purple"></span>
                </span>
                <span data-ng-switch-when="document">
                    <span class="glyphicons notes icon-red"></span>
                </span>
                <span ng-switch-default>
                    <div class="glyphicons pizza icon-orange"></div>
                </span>
            </span>
                </td>
                <td>{{file.updated_at * 1000 | date:'MM-dd-yyyy'}}</td>
                <td>
                    {{file.name}}
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-ng-click="chooseFile(file.url)" data-dismiss="modal"><span class="glyphicons white ok_2 icon-sm"></span> Choose</button>
                    <button type="button"
                            class="btn btn-danger btn-sm"
                            neo-really-message="Are you sure you want to delete this file?"
                            neo-really-click="deleteFile(file)">
                        <span class="glyphicons white bin icon-sm"></span>Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</ng-switch>

