<div class="row well">
    <div class="col-xs-3">
        <div class="btn-group">
            <button title="details" type="button" class="btn btn-default" data-ng-class="{active: ui.panel.current == 'file-list'}" data-ng-click="ui.panel.set('file-list')">
                <span class="glyphicons show_lines">&nbsp;</span>
            </button>
            <!--button title="thumbnails" type="button" class="btn btn-default" data-ng-class="{active: ui.panel.current == 'file-thumbs'}" data-ng-click="ui.panel.set('file-thumbs')">
                <span class="glyphicons show_thumbnails icon-md">&nbsp;</span>
            </button-->
            <button title="upload" type="button" class="btn btn-default" data-ng-class="{active: ui.panel.current == 'file-uploader'}" data-ng-click="ui.panel.set('file-uploader')">
                <span class="glyphicons upload icon-md">&nbsp;</span>
            </button>
        </div>
    </div>
    <div class="col-xs-4">
        <div data-ng-hide="ui.panel.current==='file-uploader'" class="btn-group">
            <button data-ng-repeat="file_type_option in data.file_type_options"
                    type="button"
                    class="btn btn-default"
                    data-ng-class="{active: ui.file_type_filter.current == file_type_option}"
                    data-ng-click="ui.file_type_filter.set(file_type_option)"
                    title="{{file_type_option}}">

                <span data-ng-switch on="file_type_option">
                    <span data-ng-switch-when="image">
                        <span class="glyphicons icon-md picture icon-green">&nbsp;</span>
                    </span>
                    <span data-ng-switch-when="audio">
                        <span class="glyphicons icon-md music icon-blue">&nbsp;</span>
                    </span>
                    <span data-ng-switch-when="video">
                        <span class="glyphicons icon-md film icon-purple">&nbsp;</span>
                    </span>
                    <span data-ng-switch-when="document">
                        <span class="glyphicons icon-md notes icon-red">&nbsp;</span>
                    </span>
                    <span ng-switch-default>
                        <span class="glyphicons icon-md pizza icon-orange">&nbsp;</span>
                    </span>
                </span>
            </button>
        </div>
    </div>
    <div class="col-xs-5">
        <div data-ng-hide="ui.panel.current==='file-uploader'" class="input-group pull-right">
            <input type="text" class="form-control" data-ng-model="searchText">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="searchText = null">
                    <strong><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></strong>
                </button>
            </div>
        </div>
    </div>
</div>
<div data-ng-switch on="ui.panel.current">
    <div data-ng-switch-when="file-list">
        <div data-ng-include src="'/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/partials/file-list.html'"></div>
    </div>
    <div data-ng-switch-when="file-thumbs">
        <div data-ng-include src="'/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/partials/file-thumbs.html'"></div>
    </div>
    <div data-ng-switch-when="file-uploader">
        <div data-ng-include src="'/vendor/neopangea/f3-mod-cms-files/public/scripts/modules/file-manager/partials/file-uploader.html'"></div>
    </div>
</div>
