<div class="row pad-top-lg">
    <div class="col-sm-12">
        <h2>File Sync</h2>
    </div>
</div>
<div ng-switch on="ui.state.current">
    <div data-ng-switch-when="synced" class="alert alert-success" role="alert"><strong>Sync Complete!</strong></div>
    <div data-ng-switch-when="error"  class="alert alert-danger" role="alert"><strong>Oh oh!</strong> Looks like some files did not sync properly.</div>
</div>
</div>
<div class="row well">
    <div class="row">
        <div class="col-xs-7">
            <label class="control-label" for="sync-url">Sync To URL</label>
            <span class="validation-error pad-left-xs">{{error}}</span>
        </div>
        <div class="col-xs-4">
            <label class="control-label" for="sync-url">Quick Select</label>
        </div>
        <div class="col-xs-1">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <div class="input-group">
                <input data-ng-model="data.syncToUrl" type="text" class="form-control" id="sync-url" placeholder="Url">
                <div class="input-group-btn" ng-switch on="ui.state.current">
                    <button
                            ng-switch-when="refreshing"
                            type="button"
                            class="btn btn-primary disabled">Refreshing...
                    </button>
                    <button
                            ng-switch-default
                            type="button"
                            class="btn btn-primary"
                            data-ng-click="refreshFileOptions()">Refresh List
                    </button>
                </div>
            </div>

        </div>
        <div class="col-xs-4">
            <div class="btn-group">
                <button type="button"
                        class="btn btn-default"
                        data-ng-class="{disabled: !data.syncFileOptions.length || ui.state.current === 'syncing'}"
                        data-ng-click="quickSelect('none')">None</button>
                <button type="button"
                        class="btn btn-default"
                        data-ng-class="{disabled: !data.syncFileOptions.length || ui.state.current === 'syncing'}"
                        data-ng-click="quickSelect('all')">All</button>
                <button type="button"
                        class="btn btn-default"
                        data-ng-class="{disabled: !data.syncFileOptions.length || ui.state.current === 'syncing'}"
                        data-ng-click="quickSelect('missing')">Missing</button>
            </div>
        </div>
        <div class="col-xs-1">
            <div ng-switch on="ui.state.current" data-ng-hide="!data.syncFileOptions.length">
                <button data-ng-switch-when="syncing" type="button" class="btn btn-success disabled pull-right" disabled>Syncing...</button>
                <button data-ng-switch-default=""     type="button" class="btn btn-success pull-right" data-ng-click="syncFiles()">Run Sync</button>
            </div>
            <div data-ng-hide="data.syncFileOptions.length">
                <button type="button" class="btn btn-success disabled pull-right" disabled>Run Sync</button>
            </div>
        </div>
    </div>
</div>



<!-- EMPTY VIEW -->

<div ng-show="!data.syncFileOptions.length" class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert"><strong>Drats!</strong> Nothing to sync.</div>
    </div>
</div>

<!-- SECTIONS TABLE -->

<div ng-show="data.syncFileOptions.length" class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>File</th>
                <th>Local Ver</th>
                <th>Status</th>
                <th width="100">Sync</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="fileOption in data.syncFileOptions">
                <td>{{fileOption.type}}</td>
                <td>{{fileOption.url}}</td>
                <td>
                    <span data-ng-show="fileOption.isLocal" class="glyphicons circle_ok icon-green">&nbsp;</span>
                </td>
                <td>
                    <div data-ng-show="fileOption.status === 'syncing'" class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 50%">
                            <span class="sr-only">50% Complete (success)</span>
                        </div>
                    </div>

                    <div data-ng-show="fileOption.status === 'synced'" class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 100%">
                            <span class="sr-only">50% Complete (success)</span>
                        </div>
                    </div>

                    <div data-ng-show="fileOption.status === 'error'" class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 50%">
                            <span class="sr-only">50% Complete (success)</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: 50%">
                            <span class="sr-only">50% Complete (danger)</span>
                        </div>
                    </div>
                </td>
                <td>
                    <label>
                        <input type="checkbox"
                               data-ng-model="fileOption.checked"
                               ng-change="toggleChecked(fileOption)"/> Sync
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
